# Local terraform directories
.terraform/
*.ids
*.egg-info

# State files
*.tfstate
*.tfstate.backup
*.tfplan

# Variable files containing sensitive development keys
# *.tfvars
*.tfvars.json
.terraform.lock.hcl
